
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
/*sans l'enregistrement et sans le link la typo great vibes n'apparaissait pas*/

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400.900&family=Great+Vibes&display=swap" rel="stylesheet">

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* ROBOTO CONDENSED POUR LE TEXTE*/
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 

/*A FAIRE / LES TARGET SUR TOUTES LES VID2OS ET DES BOXS? L'IMAGE DE FOND? CELLE DU HEADER ET DU FOOTER*/

                                        /*PROPRIETES GENERALES (réinitialisation)*/
* {
    margin: 0; 
  padding: 0;
  
 }

                         /*LES TYPOGRAPHIES*/

                         @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* ROBOTO CONDENSED POUR LE TEXTE*/
                         @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); /* GREAT VIBES POUR H1*/
                         @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&display=swap'); /*LA POLICE EN PETITE MAJUSCULE QUE JE CHERCHAIS !*/



                    /*RMQ : j'avais pour je ne sais quelles raisons ajouté ici marges et padding, et du min-height, si bien que mon header se trouvait anormalement espacé. 
                    Donc ce n'est pas la propiété de l'ensemble comme bloc, mais de tous les élements (non spécifiés ensuite) */
body{

}
                                                                                          /*LES TITRES*/

h1 {
    
    font-family: "Great Vibes", cursive;
    font-weight: 325;
    font-style: normal;
    letter-spacing:7px;
    text-align:center;
    color:orange;
    /*Les textes de polices doivent être en rem, pour l'accessibilité à tous et sur tout*/
    font-size:4.5rem;
    text-shadow:13px 18px 6px #00000042; /*suffit de taper #*/
    border-color: beige;
}


h2 { 
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   color: orange;
}

h3 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: orangered;
}

h4 { font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: orange;}

h5 {font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: orange;

    }

h6 {font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: orange;

}

                                                                                  /*LES PARAGRAPHES*/

p {font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: justify;}

/* comme ça les commentaires un ouvrant un fermant*/
/*et le backgroune ?? place ?*/
a {color: white;}

li {list-style-type: none;}
header

{background-color: antiquewhite;
   

 /*pas d'espace entre url et () ah.. tous ses détails... et le réflexe de faire des espaces évidemment... mais mon image head n'apparaît tjs pas... oui 
le point virgule, mais à présent ce n'est pas le header mais toutes la pajes qui est remplacée...Bon au moins le header est blanc... j'ai réussi, il suffisait de le sortir du main, et comme un con j'avais body auparavant à la place de main, cool, 
en revanche cela masque le texte, ajouter de l'opacité ou transparence*/
}

/*
.flexnav {

    display: flex;
    align-content: space-between ;
    flex-wrap: wrap;
border: 2px solid;
margin:auto;
padding: 10px;

}*/

.container {
display: flex;
display: inline-flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
margin: auto;
padding: 10px;
row-gap: 50px;
}

.flex {

border: 2px solid;
height: 80%;
width: 40vh;
padding: 20px;
margin: auto;
justify-content: space-evenly;
text-align: center;
background-color: grey;


/*il faut du fit content*/

}

main {
    color: aliceblue;
background: url(https://static.holidu.com/cms/7079/l/1342.jpg);
min-height: 100vh; visibility: 100%; /*??? à revoir */
text-align:"justify"; /*pas marché*/
}

                                                                                /*FOOTER*/

footer
{
background-color: black;
width: 100%;
min-height: 20vh;
color: azure;
}
